.rating{
    float: right;
    width: 150px;
    top: -25px;
    position: relative;
  }

.bad{
    float: left;
    width: fit-content;
    padding-left: 10px;
}

.good{
    float: right;
    width: fit-content;
    padding-right: 10px;
}