/*detailScreen*/

  .detail{
    width: 100%;
  }
  .id{
    display: none;
  }
  .name {
    font-size: 2em;
    width: 100%;
    color: #333333;
  }
  .icons{
    width: 259px;
    float: right;
  }
  .icons button {
    width: 10px;
  }
  .details{
    width: 100%;
    background-color: #555555;
    display:table;
    color: #cccccc;
    fill: #cccccc !important;
    font-size: 1.2em !important
  }


  .price {
    width: calc(100% - 200px);
    float: left;
    padding-left: 3px;
  }

  .adress {
    width: calc(100% - 200px);
    float: left;
    padding-right: 3px;
  }

  .comments {
    width: 100%;
    float: left;
  }

  .commentGroup{
    border: #333333 1px solid ;
    box-shadow: -1px 1px #666666 ;
    border-radius: 0em 2em 0em 2em;
    padding: 0 2em;
    margin: 1em 0;
  }

  .commentName{
    padding: 0.5em 0;

  }

  .backdrop{
    background-color: #333 !important;
    z-index: 9999 !important;
  }

  .contentBackdrop{
    height: 100px;
    width: 600px;
    background-color: #ffffff;
    opacity: 1;
  }

  .close {
    position: absolute !important;
    top: 0;
    right: 0;
  }
  .close .MuiSvgIcon-root{
    font-size: 3em !important;
  }

